
.filter-card-container {
    width: 151px;
    height: 385px;
    padding: 16px;
    z-index: 1;
    position: absolute;
    top: 74px;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid;
}

.ul-element {
    list-style-type: none;
    position: relative;
    right: 35px;
}

.filter-card-container ul li {
    text-align: center;
}

.li-element {
    border: 1px solid #89D1F0;
    border-radius: 12px;
    height: 40px;
    width: 119px;
    line-height: 38px;
    margin-bottom: 15px;
    color: #0093E9;
}

.li-element:hover {
    background-color: #F6F6F6;
    cursor: pointer;
}

.li-element-selected {
    @extend .li-element;
    background-color: #F6F6F6;
}

.filter-card-container ul {
    list-style-type: none;
    margin: 15px 0px 15px 0px;
    position: relative;
    right: 40px;
    overflow: '';
}

.filter-card-export-container {
    width: 151px;
    height: 245px;
    padding: 16px;
    z-index: 1;
    position: absolute;
    top: 54px;
    left: 116px;
}