
.admin-login3{
  background: url(../../assets/brands/background.png) blue;
  background-size:cover;
}

#img3{
  position:relative;top:250px;left:1px;

  
  width:400px;

}
.h3 #Welcome3{
  font: 60px/65px Roboto;
letter-spacing: 0;
color: #000000;
opacity: 1;
  position:relative;top:280px;left:5px;
  }



  .cardForgot{
    align-items: center;
    width: 500px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 25px #00000029;
    border-radius: 15px;
    opacity: 1;
    
  }
   .signin3{
  padding-top: 130px;
  padding-bottom: 130px;
}

.heading3{
  padding-bottom: 40px;
  padding-top: 40px;
  text-align: center;
  font: Bold 30px/33px Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}


.input3{

  width: 350px;
  height: 76px;
}

.signin3 #col3{

  position:relative;top:-30px;left:-20px;


}
.signin3 #submit3{
  text-align: center;
font: Bold 20px/23px Roboto;
letter-spacing: 0;
position:relative;top:20px;left:-10px;
  background: transparent linear-gradient(105deg, #0093E9 0%, #36C2CF 100%) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}




    

