.contact-form {
  width: 100%;
  max-width: 36rem;
  display: block;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.form-headers-popup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.popup-close-icon {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
  width: 35px;
  height: 35px;
  border-radius: 0.3rem;
  display: grid;
  place-content: center;
  background-color: var(--white);
  color: var(--grey-light) !important;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.popup-close-icon:hover {
  background-color: #f5f8fa;
  color: var(--brand-link) !important;
}
