@import "../../assets/styles/global.scss";

.shipment {
  padding-right: 3rem;
  padding-left: 3rem;

  .fix-wrap {
    flex-wrap: wrap;

    @media (min-width: 1600px) {
      flex-wrap: nowrap;
    }
  }

  .panel {
    box-shadow: 0px 3px 6px $grey;
    border-radius: 15px;
    background-color: $white;
    flex-basis: 30%;
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 30px;

    &:last-child {
      margin-right: 0;
    }

    .picture {
      width: 60px;
      height: 60px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;

      img {
        width: 35px;
        height: 26px;
      }

      &.truck-bg {
        background: $deepGreen;
      }

      &.sent-bg {
        background: $lightBlue;
      }

      &.recived-bg {
        background: $darkYellow;
      }

      &.transit-bg {
        background: $C0Blue;
      }
    }

    .fontSize25 {
      font-size: 23px;
    }

    .fontSize30 {
      font-size: 30px;
    }

    .truck-text {
      color: $deepGreen;
    }

    .sent-text {
      color: $lightBlue;
    }

    .recived-text {
      color: $darkYellow;
    }

    .transit-text {
      color: $deepBlue;
    }
  }
}
