version: "3.7"
services:
  traefik:
    image: "traefik:v2.4"
    container_name: "traefik"
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - "./acme.json:/acme.json"
      - "./traefik.toml:/traefik.toml"
      - "./traefik_dynamic.toml:/traefik_dynamic.toml"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  cache:
    image: "redis"
    container_name: "cache"
    restart: always
    ports:
      - "6379:6379"
    labels:
      - traefik.enable=false

  advancedanalytics:
    build: "./backend/advanced_analytics_service"
    image: "advanced_analytics_service1.0"
    container_name: "advanced_analytics_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.advancedanalytics.entrypoints=websecure"
      - "traefik.http.routers.advancedanalytics.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/advancedanalytics/`)"
      - "traefik.http.routers.advancedanalytics.tls=true"
      - "traefik.http.routers.advancedanalytics.tls.certresolver=lets-encrypt"

  alert:
    build: "./backend/alert_service"
    image: "alert_service1.0"
    container_name: "alert_service1.0"
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.alert.entrypoints=websecure"
      - "traefik.http.routers.alert.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/alertmanagement/`)"
      - "traefik.http.routers.alert.tls=true"
      - "traefik.http.routers.alert.tls.certresolver=lets-encrypt"

  analytics:
    build: "./backend/analytics_service"
    image: "analytics_service1.0"
    container_name: "analytics_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.analytics.entrypoints=websecure"
      - "traefik.http.routers.analytics.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/analyticsmanagement/`)"
      - "traefik.http.routers.analytics.tls=true"
      - "traefik.http.routers.analytics.tls.certresolver=lets-encrypt"

  blockchain:
    build: "./backend/blockchain_service"
    image: "blockchain_service1.0"
    container_name: "blockchain_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.blockchain.entrypoints=websecure"
      - "traefik.http.routers.blockchain.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/blockchainmanagement/`)"
      - "traefik.http.routers.blockchain.tls=true"
      - "traefik.http.routers.blockchain.tls.certresolver=lets-encrypt"

  employee:
    build:
      context: .
      dockerfile: backend/employee_service/Dockerfile
    image: "employee_service"
    container_name: "employee_service"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.employee.entrypoints=websecure"
      - "traefik.http.routers.employee.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/usermanagement/`)"
      - "traefik.http.routers.employee.tls=true"
      - "traefik.http.routers.employee.tls.certresolver=lets-encrypt"

  event:
    build: "./backend/event_service"
    image: "event_service1.0"
    container_name: "event_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.event.entrypoints=websecure"
      - "traefik.http.routers.event.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/eventmanagement/`)"
      - "traefik.http.routers.event.tls=true"
      - "traefik.http.routers.event.tls.certresolver=lets-encrypt"

  inventory:
    build:
      context: .
      dockerfile: backend/inventory_service/Dockerfile
    image: "inventory_service1.0"
    container_name: "inventory_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.inventory.entrypoints=websecure"
      - "traefik.http.routers.inventory.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/inventorymanagement/`)"
      - "traefik.http.routers.inventory.tls=true"
      - "traefik.http.routers.inventory.tls.certresolver=lets-encrypt"

  lastmile:
    build: "./backend/last_mile_service"
    image: "last_mile_service1.0"
    container_name: "last_mile_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.lastmile.entrypoints=websecure"
      - "traefik.http.routers.lastmile.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/lastmilemanagement/`)"
      - "traefik.http.routers.lastmile.tls=true"
      - "traefik.http.routers.lastmile.tls.certresolver=lets-encrypt"

  notification:
    build: "./backend/notification_service"
    image: "notification_service1.0"
    container_name: "notification_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.notification.entrypoints=websecure"
      - "traefik.http.routers.notification.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/notificationmanagement/`)"
      - "traefik.http.routers.notification.tls=true"
      - "traefik.http.routers.notification.tls.certresolver=lets-encrypt"

  po:
    build:
      context: .
      dockerfile: backend/po_service/Dockerfile
    image: "po_service1.0"
    container_name: "po_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.po.entrypoints=websecure"
      - "traefik.http.routers.po.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/pomanagement/`)"
      - "traefik.http.routers.po.tls=true"
      - "traefik.http.routers.po.tls.certresolver=lets-encrypt"

  product:
    build: "./backend/products_service"
    image: "products_service1.0"
    container_name: "products_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.product.entrypoints=websecure"
      - "traefik.http.routers.product.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/productmanagement/`)"
      - "traefik.http.routers.product.tls=true"
      - "traefik.http.routers.product.tls.certresolver=lets-encrypt"

  rbac:
    build: "./backend/rbac_service"
    image: "rbac_service1.0"
    container_name: "rbac_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.rbac.entrypoints=websecure"
      - "traefik.http.routers.rbac.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/rbacmanagement/`)"
      - "traefik.http.routers.rbac.tls=true"
      - "traefik.http.routers.rbac.tls.certresolver=lets-encrypt"

  shipment:
    build:
      context: .
      dockerfile: backend/shipment_service/Dockerfile
    image: "shipmentmanagement1.0"
    container_name: "shipment_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.shipment.entrypoints=websecure"
      - "traefik.http.routers.shipment.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/shipmentmanagement/`)"
      - "traefik.http.routers.shipment.tls=true"
      - "traefik.http.routers.shipment.tls.certresolver=lets-encrypt"

  shippingorder:
    build: "./backend/shippingOrder_service"
    image: "shippingorder_service1.0"
    container_name: "shippingOrder_service1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.shippingorder.entrypoints=websecure"
      - "traefik.http.routers.shippingorder.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/shippingordermanagement/`)"
      - "traefik.http.routers.shippingorder.tls=true"
      - "traefik.http.routers.shippingorder.tls.certresolver=lets-encrypt"

  track:
    build: "./backend/track_trace"
    image: "track_trace1.0"
    container_name: "track_trace1.0"
    restart: always
    env_file:
      - ./env/ledger.env
    depends_on:
      - cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.track.entrypoints=websecure"
      - "traefik.http.routers.track.rule=Host(`test.vaccineledger.com`) && PathPrefix(`/tracktracemanagement/`)"
      - "traefik.http.routers.track.tls=true"
      - "traefik.http.routers.track.tls.certresolver=lets-encrypt"

  cra:
    build:
      context: .
      dockerfile: cra-frontend/Dockerfile.serve
    image: "frontend2.0"
    container_name: "cra"
    restart: always
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.rule=Host(`cra.vaccineledger.com`)"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=lets-encrypt"

  frontend:
    build: "./frontend"
    image: "frontend1.0"
    container_name: "frontend"
    restart: always
    environment:
      - "NODE_ENV=production"
      - "ENVIRONMENT=test"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.frontend.entrypoints=websecure"
      - "traefik.http.routers.frontend.rule=Host(`test.vaccineledger.com`)"
      - "traefik.http.routers.frontend.tls=true"
      - "traefik.http.routers.frontend.tls.certresolver=lets-encrypt"

networks:
  default:
    external:
      name: proxy
