.btn-template {
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background: #FFAB1D;
    text-align: center;
    padding-top: 5px;
    height: fit-content;
    justify-content: center;
    margin-top: 0.65%;
    margin-right: 3.5%;
}

.btn-template h6 {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin: 0;
    padding: 5px;
}

.btn-template a {
    padding: 0;
    margin: 0;
}

.btn-template img {
    width: 22px;
    height: 25px;
    padding: 3px;
}
