@import "../../assets/styles/global.scss";

.Homecontainer {
  width: auto;
  color: $white;
  .bg-image {
    background: url(/dist/54c59914d3821593d724fc8006bc9639.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
