.admin-login1 {
  background: url(../../assets/brands/background.png) blue;
  background-size: cover;
}

#img1 {
  position: relative;
  top: 250px;
  left: 1px;

  width: 400px;
}
.h1 #Welcome1 {
  font: 60px/65px Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  position: relative;
  top: 280px;
  left: 5px;
}

.h1 #Sign1 {
  font: 30px/33px Roboto;
  font-weight: 300;

  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  position: relative;
  top: 300px;
  left: 5px;
}

.card1 {
  align-items: center;
  width: 500px;
  height: 520px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border-radius: 15px;
  opacity: 1;
}
.signin1 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.heading1 {
  padding-bottom: 15px;
  padding-top: 40px;
  text-align: center;
  font: Bold 30px/33px Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.input1 {
  width: 350px;
  height: 76px;
}

.signin1 #col1 {
  position: relative;
  top: -30px;
  left: -20px;
}
.signin1 #submit1 {
  text-align: center;
  font: Bold 20px/23px Roboto;
  letter-spacing: 0;
  position: relative;
  top: 160px;
  left: -10px;
  background: transparent linear-gradient(105deg, #0093e9 0%, #36c2cf 100%) 0%
    0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.signin1 #text-center1 {
  position: relative;
  top: 155px;
  left: 70px;

  font: Regular 15px/33px Roboto;
  letter-spacing: 0;
  color: #707070;
}

.signin1 #eye1 {
  position: relative;
  top: -25px;
  left: 300px;
}
