.Lastmile--mainPage-layout {
  padding: 1.25rem;
}

.Lastmile--gridLayout-wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 1.25rem;
  margin: 1.25rem 0;
}

.Lastmile--Analytics-space {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.Lastmile--Interaction-space {
  background-color: #fff;
  border-radius: 0.8rem;
  min-height: 72vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.padding-space {
  width: 100%;
  height: 3rem;
}

/* Table Class */
.vl-mui-custom-tablecontainer {
  background-color: #fff !important;
  border-radius: 0.8rem !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.vl-mui-custom-tablebody > .vl-mui-custom-tr:nth-child(odd) {
  background-color: #eeebff !important;
}
.vl-mui-custom-tablehead > .vl-mui-custom-tr > th {
  border-bottom: none !important;
}

.vl-mui-custom-tablebody > .vl-mui-custom-tr > th {
  border-bottom: none !important;
}
