.buttonContainer {
  display: flex;
}

.year {
  border: none;
  font-size: 10px;
  color: #707070;
  text-transform: uppercase;
  padding-left: 0;
}

.year:hover {
  font-weight: bold;
  color: black;
  border-bottom: 3px solid black;
}
