

  .buttonContainer{
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    width:280px;
    height:30px;
    }
    
.year {
    height:30px;
    width:70px;
    border:none;
    font:normal 9px/30px Roboto;
    color: #707070;
    text-transform: uppercase;
    opacity:1;
    background-color: white;
    
    
}
  
  .year:hover {font-weight: bold;color:black;border-bottom: 3px solid black;}


