.buttonContainer{
    display:flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: left;
    width:450px;
    height:20px;
    }

    
.btn {
    border:none;
    background-color: white;
    padding:0px;
    cursor: pointer;
    font: Regular 10px/30px Roboto;
    color: #707070;
    text-transform: uppercase;
    opacity: 1;
    
  }
  
  .btn:hover {background: #eee;font-size:20px;}

