.homepage{
    .content {
        flex-basis: 100%;
    }
    
    .logo-style {
        font-weight: bolder;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .logo-left {
        color: #ffffff;
    }
    
    .logo-right {
        color: #000000;
    }
    
    
    
    .list-unstyled i {
        font-size: 25px;
    }

}


body {
    background-color: #FAFAFA;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

