.admin-login2{
  background: url(../assets/background.png) blue;
  background-size:cover;
}

#img2{
  position:relative;top:250px;left:1px;

  
  width:400px;

}
.h2 #Welcome2{
  font: 60px/65px Roboto;
letter-spacing: 0;
color: #000000;
opacity: 1;
  position:relative;top:280px;left:5px;
  }

.h2 #Sign2{
  font:  30px/33px Roboto;
   font-weight:300;
  
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
position:relative;top:300px;left:5px;
  }

.signin2{
  padding-top: 130px;
  padding-bottom: 130px;
}

.heading2{
  padding-bottom: 15px;
  padding-top: 40px;
  text-align: center;
  font: Bold 30px/33px Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.card2{
  align-items: center;
  width: 500px;
  height: 480px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border-radius: 15px;
  opacity: 1;
}
.input2{

  width: 350px;
  height: 76px;
}

.signin2 #col2{

  position:relative;top:-30px;left:-20px;


}
.signin2 #submit2{
  text-align: center;
font: Bold 20px/23px Roboto;
letter-spacing: 0;
position:relative;top:80px;left:-10px;
  background: transparent linear-gradient(105deg, #0093E9 0%, #36C2CF 100%) 0% 0% no-repeat padding-box;
border-radius: 5px;
opacity: 1;
}

.signin2  #text-center2
{
  position:relative;top:95px;left:70px;
  
font: Regular 15px/33px Roboto;
letter-spacing: 0;
color: #707070;
}

.signin2  #eye2{
  position:relative;top:-25px;left:300px;

}

