.Rectangle_101{
    position: absolute;
    top: 80px;
left: 0px;
width: 120px;
height: 729px;
background: transparent linear-gradient(180deg, #0093E9 0%, #36C2CF 100%) 0% 0% no-repeat padding-box;
box-shadow: 5px 0px 10px #00000029;
border-radius: 0px 50px 0px 0px;
opacity: 1;
}
#icons{
    position: absolute;
    top:50px;
    left: -10px;
}
#home{
    position: absolute;
    top: 128px;
left: 50px;
width: 33px;
height: 33px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
#truck{
    position: absolute;
    top: 228px;
left: 50px;
width: 33px;
height: 24px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
#package
{
    position: absolute;
    top: 320px;
left: 50px;
width: 27px;
height: 27px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
#search{
    position: absolute;
    top: 420px;
left: 50px;
width: 33px;
height: 33px;
transform: matrix(0, 1, 1, 0, 0, 0);
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}

.btn {
 position: relative;
 top:165px;
border: none;
color: #ffffff;
padding: 45px 28px;
background-color: inherit;
font-size: 11px;
cursor: pointer;
display: block;
}
.btn:hover {color: #ffffff;}
 .btn1:hover {color: #ffffff;}
.btn1{
      position: relative;
 top:165px;
border: none;
color: #89D1F0;
padding: 45px 28px;
background-color: inherit;
font-size: 11px;
cursor: pointer;
display: block;
}
.Rectangle_100{
    position: absolute;
    top: 160px;
left: 105px;
width: 15px;
height: 87px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 10px 0px 0px 10px;
opacity: 1;
}
#footer{
    position: absolute;
    top:70px;
    left:-10px;
}
 
#logo{
    position: absolute;
    top: 700px;
left: 20px;
width: 89px;
height: 23px;
text-align: left;
font: Bold 19px/11px Trueno;
letter-spacing: 1.9px;
text-transform: uppercase;
opacity: 1;
}