.shipmentTable{
    .dark-bg{
        background: #EAEAEA;
        height: 60px;
        position: relative;
        top:125px;
    }
    .updown{
       border-left: 50px;;
    }
    .underline{
        text-align: left;
    text-decoration: underline;
    font: Regular 16px/20px Roboto;
    letter-spacing: 0;
    color: #707070;
    }
    .dark-bg #options{
        position: relative;
        top: 17px;
        padding-left: 24px;
        font: Regular 16px/20px Roboto;
        letter-spacing: 0;
        color: #707070;
        opacity: 1;
    }
    .fh{
        padding-left: 80px;
    }
      
    .dark-bg #filter{
        position: relative;
        padding-left: 24px;
        top: -10px;
        text-align: center;
        font: Regular 20px/13px Roboto;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1;
        background: #36C2CF 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        height: 58px;
        top: -6px;
    }
    
    .dark-bg #export{
        position: relative;
        padding-left: 24px;
        text-align: center;
        font: Regular 20px/13px Roboto;
        letter-spacing: 0;
        color: #ffffff;
        background: #0093E9 0% 0% no-repeat padding-box;
        border-radius: 10px;
        opacity: 1;
        height: 58px;
        top: -6px;
    }
    
    .headings{
        text-align: left;
    font: Regular 18px/13px Roboto;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    }
    .br{
        display: block;
        margin-bottom: 0.7em; 
    } 
    .main-table{
        position: relative;
        top: 150px;

    }  
    tr{    
        
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 80px;
        padding-bottom: 10px;
        border:40px;
        margin-left: 10px;
    }
     
    td{
        font: Regular 12px/20px Roboto;
        padding : 10px;
        border-left: 30px;
        text-align: left; 
    }
    .no{
        fill:#707070;
        background: #EAEAEA 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding:9px;
    }
    .yes{
        fill:#FFFFFF;
        background: #FFB100 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding:9px;
    }
    
    th{
        
        padding:20px;
        padding-left: 10px;
        background:#F8F8F8;
        border-radius: 10px;
        text-align: left;
    }
    
    .content{
        
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    
    }
    .icon #updown{
        position: relative;
        left: 50px;
    }
    .btn #down{
        position: relative;
        left: 25px;
    }
    table{
        background:#F8F8F8;
    }
    .img{
        margin-left: 20px;
    }
    .client{
        text-align: left;
        padding-left: 20px;
        
        font: Bold 14px/20px Roboto;
        letter-spacing: 0;
        color: #0093E9;
        opacity: 1;
      }
    
      .special{
        width:200px;
    }
    .success{
        background: #3CB049 0% 0% no-repeat padding-box;
      border-radius: 10px;
      text-align: center;
      font: Regular 12px/13px Roboto;
      letter-spacing: 0;
      color: #FFFFFF;
      margin: -10px;
      width: 73px;
    height: 10px;
    }
    
    .hold{
        background: #E3E3E3 0% 0% no-repeat padding-box;
      border-radius: 10px;
      text-align: center;
      font: Regular 12px/13px Roboto;
      letter-spacing: 0;
      color: #FFFFFF;
      padding: 0px;
      width: 73px;
    height: 10px;
    }
    
    .transit{
        background: #FFB100 0% 0% no-repeat padding-box;
      border-radius: 10px;
      text-align: center;
      font: Regular 12px/13px Roboto;
      letter-spacing: 0;
      color: #FFFFFF;
      padding: 0px;
      width: 73px;
    height: 10px;
    }
    
    
    .cancel{
        background: #FF0000 0% 0% no-repeat padding-box;
      border-radius: 10px;
      text-align: center;
      font: Regular 12px/13px Roboto;
      letter-spacing: 0;
      color: #FFFFFF;
      padding: 0px;
      width: 73px;
    height: 10px;
    
    }
}