.shipmentSummary{
  .main{
    background: #FFFFFF;
    height: 78px;
  }
  
  .main #title{
    position: relative;
    margin-left: -5px;
    top: 24px;
    text-align: left;
    font: Regular 16px/20px Roboto;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
  }
  
  .main #content{
    padding-left: 24px;
    text-align: left;
    font: Regular 20px/13px Roboto;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
    background: #36C2CF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
  }
  
  .main #Client{
    margin-left: -20px;
    text-align: left;
    font: Bold 14px/20px Roboto;
    letter-spacing: 0;
    color: #0093E9;
    opacity: 1;
  }
  
  .main #success{
    padding-top: 4px;
    width: auto;
    height: 30px;
    background: #3CB049 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding-right: 10px;
    opacity: 1;
    text-align: center;
    font: Regular 12px/13px Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .main #transit{
    padding-top: 4px;
    width: 73px;
    height: 30px;
    background: #FFB100 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
    text-align: center;
    font: Regular 12px/13px Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .main #hold{
    padding-top: 4px;
    width: 73px;
    height: 30px;
    opacity: 1;
    text-align: center;
    font: Regular 12px/13px Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    background: #E3E3E3 0% 0% no-repeat padding-box;
    border-radius: 10px;
  
  }
  
  .main #cancel{
    padding-top: 4px;
    width: 73px;
    height: 30px;
    opacity: 1;
    text-align: center;
    font: Regular 12px/13px Roboto;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity: 1;
    background: #FF0000 0% 0% no-repeat padding-box;
    border-radius: 10px;
  
  }
  
  .main #image{
    padding-top: -15px;
    border-radius: 10px;
    opacity: 1;
  }
}