@import "../../assets/styles/global.scss";

.dashboard {
  padding-right: 1rem !important;
  padding-left: 5rem;

  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .dash {
    margin-bottom: 0.2rem;
  }
}
.leaflet-container {
  border-top: 3px solid #d6d6d6;
  bottom: 0;
  top: 198px;
  position: fixed;
  left: 95px;
  z-index: 9;
  width: 100%;
}
