.admin-login4 {
  background: url(../../assets/brands/background.png) blue;
  background-size: cover;
}

#img4 {
  position: relative;
  top: 250px;
  left: 1px;

  width: 400px;
}
.h4 #Welcome4 {
  font: 60px/65px Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  position: relative;
  top: 280px;
  left: 5px;
}

.h4 #Sign4 {
  font: 30px/33px Roboto;
  font-weight: 300;

  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  position: relative;
  top: 300px;
  left: 5px;
}

.card4 {
  align-items: center;
  width: 500px;
  height: 450px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000029;
  border-radius: 15px;
  opacity: 1;
}
.signin4 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.heading4 {
  padding-bottom: 15px;
  padding-top: 20px;
  text-align: center;
  font: Bold 30px/33px Roboto;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
}

.input4 {
  width: 350px;
  height: 76px;
}

.signin4 #col4 {
  position: relative;
  top: -10px;
  left: -20px;
}
.signin4 #submit4 {
  text-align: center;
  font: Bold 20px/23px Roboto;
  letter-spacing: 0;
  position: relative;
  top: 100px;
  left: -10px;
  background: transparent linear-gradient(105deg, #0093e9 0%, #36c2cf 100%) 0%
    0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.signin4 #eye4 {
  position: relative;
  top: -5px;
  left: 300px;
}
.signin4 #key4 {
  position: relative;
  top: 20px;
  left: 0px;
}
