@import '../../assets/styles/global.scss';

.inventory {
    @media (min-width: $xl){
        padding-right: 3rem;
        padding-left: 3rem;
      }

    .fix-wrap {
        flex-wrap: wrap;
        justify-content: space-between;
        @media (min-width: 1600px) {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
    }

    .list-container {

        h4 {
            color: $OBBlue;
        }

        .round-sign {
            border-radius: 100%;
            font: Bold 16px Roboto;
            letter-spacing: 0px;
            color: #707070;
            padding: 5px;
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .ellipseOne {
            background-color: #FFBCC4;
        }

        .ellipseTwo {
            background-color: #C1E3F2;
        }

        .ellipseThree {
            background-color: #FFC18C;
        }

        .ellipseFour {
            background-color: #FFEF83;
        }

        p {
            font-size: 10px;
            margin-top: .5rem;
            text-align: center;
            min-height: 30px;
            margin-bottom: .2rem;
        }

        h3 {
            font-size: 16px;
            font-weight: bold;
        }

        .overflow {
            overflow: auto;
            height: 400px;
        }
    }

    .panel {
        box-shadow: 0px 3px 6px $grey;
        border-radius: 15px;
        background-color: $white;
        flex-basis: 48%;
        margin-top: 2rem;
        margin-right: 1rem;
        padding: 30px;
        @media (min-width: $xl) {
            flex-basis: 30%;
        }

        @media (max-width: $xl) {
            &:nth-child(2) {
                margin-right: 0;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        .picture {
            width: 60px;
            height: 60px;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2rem;

            img {
                width: 35px;
                height: 26px;
            }

            &.truck-bg {
                background: $deepGreen;
            }

            &.sent-bg {
                background: $lightBlue;
            }

            &.recived-bg {
                background: $darkYellow;
            }

            &.transit-bg {
                background: $C0Blue;
            }
        }

        .fontSize25 {
            font-size: 23px;
        }

        .fontSize30 {
            font-size: 30px;
        }

        .truck-text {
            color: $deepGreen;
        }

        .sent-text {
            color: $lightBlue;
        }

        .recived-text {
            color: $darkYellow;
        }

        .transit-text {
            color: $deepBlue;
        }
    }
}