@import "../../assets/styles/global.scss";
.track {
  position: relative;
  top: -10px;
  padding-right: 20px;
  padding-left: 70px;
  //overflow: hidden;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading {
    text-align: left;
    font: normal bold 15px/7.5px Arial;
    letter-spacing: 1px;
    color: #01ceea;
  }

  .highlight {
    border-style: solid;
    border-color: #01ceea;
  }

  .redTxt {
    color: #dc3545 !important;
  }

  .commonpanle {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    padding: 17px 10px 10px 10px;
    background: #ffffff 0% 0% no-repeat padding-box;
  }

  .enlargeTemperature {
    height: 30px;
    width: 70px;
    border: 1px solid #ff8c00;
    border-radius: 7px;
    font-size: 10px;
    padding: 2px 2px;
    color: #ff8c00;
  }

  .panel {
    .elemens {
      margin-bottom: 0;
    }
    .orderTxt {
      font-size: 0.75rem;
    }
    .potext {
      font: 13px/3px $roboto;
    }
    .potexttable {
      font: 11px/13px $roboto;
      padding-right: 20px;
    }
    .poheads {
      color: black;
      font-weight: bold;
    }
    ul {
      padding: 0;
      color: black;

      .txn {
        font: 13px/3px $roboto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 160px;
        @media (max-width: 1346px) {
          font-size: 11px;
          width: 110px;
        }
      }
      .vendor {
        font: 12px/3px $roboto;
      }
      li {
        font: 13px/3px $roboto;
        text-align: left;
        letter-spacing: 0px;
        padding: 0.5rem;
        list-style: none;
      }
    }
  }
  .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
  }
  .emp {
    margin-bottom: 19px;
  }

  .big-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    // margin-left: -18px;
    margin-top: 4px;
  }

  .dot-pad {
    padding-left: 0.6rem;
  }

  .noOutline {
    &:focus {
      outline-color: transparent !important;
      outline-style: none;
      outline-width: 0px;
    }
    .btn-outline-primary:hover {
      background-color: transparent !important;
    }
  }
  .search-form {
    width: 35vw;
    display: flex;
    border-color: #3d93e2;
    &:focus {
      outline-color: transparent !important;
      //outline-style: none;
      outline-width: 0px;
    }

    .search-field {
      margin-top: 12px;
      width: 30vw;
      height: 40px;
      font-size: 13px;
      box-shadow: 1px 1px 5px #00000029;
      &::placeholder {
        color: #3d93e2;
      }
    }
    
    .searchIcon {
      width: 15px;
      height: 15px;
      margin-left: -25px;
      margin-top: 25px;
    }
  }

  .arrow {
    width: 25px;
    height: 25px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
    cursor: pointer;
    // margin-right: 10px;
    bottom: -8px;
    right: 30px;
    position: absolute;
  }

  .arrow-temp {
    width: 56px;
    height: 58px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
    cursor: pointer;
  }

  .arrow-image {
    width: 15px;
    height: 31px;
  }

  .btn {
    height: 2rem;
    font-size: 0.75rem;
  }

  .picture {
    width: 35px;
    height: 35px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    display: flex;
    background: #d4ebf2;
  }

  .chain {
    font: 13px/20px $roboto;
  }
  .series {
    background: #d6f2f5 0% 0% no-repeat padding-box;
  }
  .chainpanle {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 8px;
    padding: 12px 10px 10px 12px;
  }
  .chainhead {
    font: 10px/10px $roboto;
  }

  .info {
    font: 10px/15px $roboto;
  }

  .dir {
    height: 30px;
  }

  .color {
    text-align: left;
    font: normal bold 12px/5px Arial;
    letter-spacing: 1px;
    color: #01ceea;
  }

  .picture {
    width: 40px;
    height: 40px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 13px;
    display: flex;

    &.recived-bg {
      background: #d4ebf2;
    }
  }
}

.temperature {
  #chart-1 {
    height: 20px;
  }
}

.temperature-graph-container {
  height: 695px;

  .graph-information-container {
    padding: 30px 0px 60px 0px;
  }
}

.temperature-graph-panel-information {
  padding: 15px 0px 20px 0px;
}

.zoom-out-icon {
  width: 46px;
  height: 47px;
  border-radius: 10px;
  border: 0px solid;
  padding: 5px;
  background-color: #c2e6fa;
  cursor: pointer;
}

.current-info-container {
  display: flex;
}

.current-info {
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-right: 10px;
}

.zoom-in-icon {
  width: 35px;
  height: 47px;
  border-radius: 10px;
  border: 0px solid;
  padding: 5px;
  background-color: #c2e6fa;
  cursor: pointer;
}
.border-blue {
  border: 1px solid #3d93e2 !important;
}
