$backgroundColor: #f5f5f5;
$textColor: #2e2e2e;
$textColorLight: #707070;
$primaryThemeColor: #0B65C1;
$secondaryThemeColor: #0093E9;
$textWhiteColor: #f0f0f7;
$textSelectedColor: #0B65C1;
$primaryThemeColorLight: #0093E9;
$offlineThemeColor: #FFCA8D;
:export {
  backgroundColor: $backgroundColor;
  textColor: $textColor;
  textColorLight: $textColorLight;
  primaryThemeColor: $primaryThemeColor;
  secondaryThemeColor: $secondaryThemeColor;
  textWhiteColor: $textWhiteColor;
  textSelectedColor: $textSelectedColor;
  primaryThemeColorLight: $primaryThemeColorLight;
  offlineThemeColor: $offlineThemeColor;
}
