@import "../../assets/styles/global.scss";

.productinventory {
  margin-top: 5px;
  padding-right: 6rem;
  padding-left: 4rem;
  //overflow: hidden;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .breadcrumb {
    margin-top: -10px;
    margin-left: -5px;
  }

  .full-width-ribbon {
    position: absolute;
    left: 0;
    right: -5px;
    background-color: #eaeaea;
    .filter {
      margin-left: 8rem;
      margin-right: 0rem;
    }
  }

  .rounded {
    border-radius: 15px !important;
    box-shadow: 0px 3px 10px #e4e4e4 !important;
  }

  .ribbon-space {
    margin-top: 5rem;
    padding: 0px 20px 0px 20px;
  }

  .txt {
    font-weight: 600;
    font-size: 14px;
    align-self: center;
  }
  .txt1 {
    font-weight: 400;
    font-size: 14px;
    align-self: center;
    //text-align: right;
  }
  .txt2 {
    font-weight: 400;
    font-size: 14px;
    align-self: center;
    text-align: right;
    position: relative;
    left: -130px;
  }

  .txtBlue {
    color: #0093e9;
  }

  .bg-grey {
    background-color: #d6d6d6 !important;
  }

  .active {
    box-shadow: 0px 3px 6px $grey;
    background-color: #e8f4f8 !important;
  }

  .font-small {
    font-size: small;
  }

  .panel {
    // box-shadow: 0px 3px 6px $grey;
    border-radius: 15px;
    background-color: #fff;
    cursor: pointer;
    padding: 20px 20px 5px 22px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    // -ms-flex: 0 0 18%;
    flex: 0 0 12%;
    // max-width: 18%;
    // height: 35vh;
    //overflow: hidden;

    text-align: center;
    text-align: -webkit-center;

    & > .d-flex {
      margin-top: 5px;
    }

    @media screen and (max-width: 768px) {
      border-right: none;
      justify-content: flex-start;
    }

    @media (max-width: $lg) {
      &:nth-child(2) {
        margin-right: 0;
      }
    }

    .txt-outline {
      border: 1px solid #57c1ff;
      border-radius: 10px;
      padding: 0.2rem;
      margin: 0.2rem;
      font-size: small;
      text-align: center;
    }

    &:last-child {
      margin-right: 0;
    }

    .picture {
      width: 0px;
      height: 0px;
      //box-shadow: 0px 3px 6px #00000029;
      // border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      display: flex;

      @media (min-width: $xl) {
        width: 60px;
        height: 60px;
      }

      img {
        width: 40px;
        height: 25px;
      }

      &.truck-bg {
        background: #e8f4f8;
      }

      &.sent-bg {
        background: #d4ebf2;
      }

      &.recived-bg {
        background: #fff2e5;
      }

      &.transit-bg {
        background: $C0Blue;
      }
    }

    .tab-container {
      display: flex;
      justify-content: space-between;
      .tab-item {
        font-size: 8px;
        color: #707070;
        margin-right: 3px;
        cursor: pointer;
      }
      .tab-item:hover {
        border-bottom: 2px solid black;
        color: rgb(0, 0, 0);
        font-size: 10px;
      }
    }

    .title {
      font-size: 13px;
      line-height: 8px;
      font-weight: bold;
      color: #707070;
      margin-bottom: 8px;
      @media (min-width: $xl) {
        font-size: 14px;
      }
      @media (min-width: $sm,$md,$lg) {
        font-size: 12px;
      }
    }

    .count {
      font-size: 26px;
      margin-top: 12px;
      font-weight: bold;
      color: #2ba3ae;
    }

    .dayStatus {
      font-size: 9px;
      align-self: flex-end;
      color: $black;
    }

    &:after {
      border: 1px solid $lightGrey;
      height: 50px;
    }

    .truck-text {
      color: #2ba3ae;
    }

    .sent-text {
      color: #0093e9;
    }

    .recived-text {
      color: $darkYellow;
    }

    .transit-text {
      color: $deepBlue;
    }
  }
  .longcontent {
    position: absolute;
    width: 2000px;
    height: 100px;
  }
  .main {
    margin-right: 2rem;
    height: 160px;
    width: 100%;
    white-space: nowrap !important;
    display: inline-block !important;
    // overflow: auto;
    //overflow: visible;
    //table-layout:fixed;
  }
}
.bttn1-blue {
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  padding: 5px 8px;
  margin: 8px;
  font-size: 14px;
  cursor: pointer;
  float: right;
}
.blue-primary {
  border-color: #0093e9;
  color: #0093e9;
}

.blue-primary:hover {
  background: #0093e9;
  color: white;
}
.toggle-button-right{
  border:none;
  box-shadow: 0px 1px 6px rgb(163, 163, 163);
  position: relative;
  top:-97px; 
  float:right;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 20px;
  padding:12px;
  width:50px;
  cursor: pointer;
}
.toggle-button-left{
  border:none;
  box-shadow: 0px 1px 6px rgb(163, 163, 163);
  position: relative;
  left:-35px;
  top:-97px; 
  float:left;
  background-color: #fff;
  border-radius: 50%;
  margin: 0px 20px;
  padding:12px;
  width:50px;
  cursor: pointer;
}
.toggle-icon-next{
  height: 20px;
  width: 15px;
  transform: rotate(180deg);  
  outline: none;
}
.toggle-icon-back{
  height: 20px;
  width: 15px;  
  outline: none;
  position: relative;
  left:-2px;
} 

button:hover,
button:active,
button:focus {
  outline: 0;
}