:root {
  --brand-primary: #2272f0;
  --brand-secondary: #0eba86;
  --brand-link: #009ef7;
  --brand-blue: #f5f9ff;
  --brand-grey: #f1f8f6;
  --black: #1f1f1f;
  --white: #ffffff;
  --light: #fafafa;
  --blue: #098bfe;
  --grey-bold: #4b5564;
  --grey-medium: #8f959f;
  --grey-light: #b0b5bb;
  --disabled: #eee;
  --error-red: #ff2c2c;

  /* Theme Colors */
  --card-color: #f4f6fa;
  --border-color: #35cced;
}
