$primaryBlue: #0093E9;
$lightBlue: #89D1F0;
$skyBlue: #36C2CF;
$darkBlue: #1F78B4;
$deepBlue: #0A69C5;
$OBBlue: #0B65C1;
$C0Blue: #c0daf3;

$white: #FFFFFF;
$black: #000000;

$grey : #00000029;
$lightGrey: #00000065;
$softGrey: #F8F8F8;
$darkGrey: #4D4F5C;
$d6Grey: #D6D6D6;
$eeGrey: #EAEAEA;
$a8Grey: #A8A8A8;
$Grey70: #707070;

$lightGreen: #B2DF8A;
$darkGreen: #3CB049;
$deepGreen: #35BFCC96;

$lightYellow: #FFB100;
$darkYellow: #FFAB1D;
$sidebarBg: #53265d;
$danger: #FF0000;