.cst-drop-container {
  width: 265px;
  height: 40px;
  // font-weight: bold;
  border-radius: 6px;
  border: 0px;
  box-shadow: 0px 3px 6px #a6a6a6;

}

.cst-drop-container-menu {
  width: 265px;
  height: 40px;
  // font-weight: bold;
  border-radius: 6px;
  border: 0px;
  box-shadow: 0px 3px 6px #a6a6a6;

}
