/* Font Class */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

.admin-container {
  width: 100%;
  max-width: 90rem;
  display: block;
  margin: 0 auto;
  padding: 0 1.25rem;
}
.content-area {
  margin-top: 70px;
  padding: 5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.vl-page-container {
  width: 100%;
  max-width: 85rem;
  display: block;
  margin: 0 auto;
  padding: 0 1.2rem;
}

.no-border {
  border: none !important;
}
.no-space {
  white-space: nowrap !important;
}
.admin-section-space {
  padding: 2rem 0;
}

.top-space {
  padding-top: 1rem;
}

.vl-connection-container {
  width: 100%;
  max-width: 35rem;
  margin: 0 auto;
  display: block;
}

.vl-verify-container {
  width: 100%;
  max-width: 26rem;
  margin: 0 auto;
  display: block;
}
.vl-custom-textfield > .MuiInputBase-root > fieldset > legend {
  width: 0 !important;
}

.form-center-align {
  justify-content: center;
  text-align: center;
}

.admin-page-layout {
  background-color: var(--brand-bg);
}

.vl-hidden {
  visibility: hidden;
  opacity: 0;
}
@media screen and (max-width: 586px) {
  .admin-section-space {
    padding: 2rem 0;
  }
}
