@import "../../assets/styles/global.scss";

.users {
  padding-left: 6rem;
  padding-right: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
.w-15 {
  width: 15%;
  text-align: center;
}
.Popover-tipShape {
  fill: rgb(164, 194, 194);
}
.dropdownLabel {
  font-size: larger;
}
.w-10 {
  align-self: center;
  text-align: center;
  width: 10%;
}
.w-20 {
  // align-self: center;
  // text-align: center;
  width: 20%;
}
.w-30 {
  align-self: center;
  text-align: center;
  width: 30%;
}
.width30 {
  width: 30%;
}
.txtColor {
  color: $lightGrey;
}
.txtWrapu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
  padding: 0 10px;
  // align-self: center;
}
.btn-view {
  width: 80px;
  height: 35px !important;
  color: #ffffff;
  background: #0093e9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
}

.table-header {
  // background-color: #eaeaea;
  // height: 50px;
  // text-align: center;
  width: 105%;
  position: relative;
  left: -45px;

  
}

.vl {
  border-left: 1.5px solid #d6d6d6;
  height: 38px;
  margin-top: 10px;
}

.full-width {
  position: absolute;
  left: -95px;
  right: 0px;
  background-color: #eaeaea;
  margin-left: 118px;
  width: 100%;
}

.filter {
  margin-left: 9rem;
  margin-right: 3rem;
}

.box {
  background: #eaeaea;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.table-full-width {
  margin-top: 6rem;
}

.headerText {
  color: #000000;
  font-size: 14px;
}


.details-card {
  margin-top: 90px;
}

.details-body {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.row-details {
  margin-left: 1rem;
  margin-right: 1rem;
}

.img-align {
  width: '10px';
  height: '15px';
  margin-top: '0px';
  margin-left: '38px'
}
.ribbon-space {
  margin-top: 4rem;
}
.txt{
  font-weight: 600;
  font-size: small;
  align-self: unset;
  overflow: hidden;
}
.txt1{
  font-weight: 400;
  font-size: small;
  align-self: center;
  overflow: hidden;
}

.colum {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  // position: relative;
  // left: 3rem;
}

.addressPostal{
  position: relative;
  left: 3rem;
}
.userTitle{
  margin-right: unset;
  margin-left: unset;
}

.orgTitle{
  margin-right: unset;
}

.editIcon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.typeSpace {
  // width: 12%;
  display: flex;
  flex-direction: row;
  position: relative;
  right: 1.5rem;
  width: 15%;
}

.headerTitles {
  justify-content: unset;
  // padding-left: 7px;

  // position: relative;
  // left: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 25px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FFA83B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FFA83B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switchBar {
  position: relative;
  right: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}
