@import "../../assets/styles/global.scss";

.users {
  padding-left: 6rem;
  padding-right: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
}
.w-15 {
  width: 15%;
  text-align: center;
}
.Popover-tipShape {
  fill: rgb(164, 194, 194);
}
.dropdownLabel {
  font-size: larger;
}
.w-10 {
  align-self: center;
  text-align: center;
  width: 10%;
}
.w-20 {
  // align-self: center;
  // text-align: center;
  width: 20%;
}
.w-30 {
  align-self: center;
  text-align: center;
  width: 30%;
}
.width30 {
  width: 30%;
}
.txtColor {
  color: $lightGrey;
}
.txtWrapu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
  padding: 0 10px;
  // align-self: center;
}
.btn-view {
  width: 80px;
  height: 35px !important;
  color: #ffffff;
  background: #0093e9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
}

.table-header {
  // background-color: #eaeaea;
  // height: 50px;
  // text-align: center;
  width: 105%;
  position: relative;
  left: -45px;

  
}

.vl {
  border-left: 1.5px solid #d6d6d6;
  height: 38px;
  margin-top: 10px;
}

.full-width{
  // position: absolute;
  // left: -95px;
  // right: 0px;
  background-color: #eaeaea;
  // margin-left: 118px;
  width: 100%;
}

.full-width1 {
    position: relative;
    left: 0.3rem;
    background-color: #eaeaea;
    width: 100%;
}

.filter {
  // margin-left: 9rem;
  // margin-right: 3rem;
}

.box {
  background: #eaeaea;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
}

.table-full-width {
  margin-top: 6rem;
}

.headerText {
  color: #000000;
  font-size: 14px;
}


.details-card {
  margin-top: 35px;
}

.details-body {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.row-details {
  margin-left: 1rem;
  margin-right: 1rem;
}

.img-align {
  width: '10px';
  height: '15px';
  margin-top: '0px';
  margin-left: '38px'
}
.ribbon-space {
  margin-top: 4rem;
}
.txt{
  font-weight: 600;
  font-size: small;
  align-self: center;
  overflow: hidden;
}
.txt1{
  font-weight: 400;
  font-size: small;
  align-self: center;
  overflow: hidden;
}

.colum {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  // position: relative;
  // left: 3rem;
}

.addressPostal{
  position: relative;
  left: 3rem;
}
.userTitle{
  margin-right: unset;
  margin-left: unset;
}

.orgTitle{
  margin-right: unset;
}

.editIcon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.typeSpace {
  // width: 12%;
  display: flex;
  flex-direction: row;
}