.connection-two-column-grid-layout {
  display: grid;
  grid-template-columns: 26rem 1fr;
  grid-template-areas: "banner form";
}

.banner-grid-name {
  grid-area: banner;
}

.form-grid-name {
  grid-area: form;
}

.banner-section {
  background: linear-gradient(
      180deg,
      #2272f0 21.15%,
      rgba(34, 114, 240, 0) 119.26%
    ),
    url("../../assets/files/images/bg/connection-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 2.5rem;
  width: 26rem;
  position: fixed;
  left: 0;
  top: 0;
}

.connection-brand-logo {
  width: 100%;
  object-fit: contain;
}

.benefit-card {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 0.8rem;
  position: relative;
}
.benefit-card > .straight-line {
  width: 2px;
  height: 2.3rem;
  border-right: 2px dashed var(--white);
  position: absolute;
  left: 0.65rem;
  bottom: -2.4rem;
}
.check-icon {
  width: 1.5rem;
  object-fit: contain;
  filter: invert(100%);
}

.our-benefits-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 3rem 0;
}

.banner-inner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.statwig-power-logo {
  width: 10rem;
  object-fit: contain;
  margin-top: 0.6rem;
}

.connect-Illustration {
  width: 16rem;
  object-fit: contain;
  position: absolute;
  right: -6.5rem;
  bottom: -2.5rem;
}

.connection-mobile-header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--white);
  display: none;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0px 10px 10px 0px rgba(82, 63, 105, 0.05);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}

.connection-body-container {
  width: 100%;
  height: 100%;
  padding: 2.5rem 2.5rem 0.6rem 2.5rem;
}

.back-navigation {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.back-navigation > i {
  font-size: 1.2rem;
}

.account-section {
  width: 100%;
  height: 100%;
  padding: 1rem 0;
  transition: all 0.3s ease-in-out;
}

.login-system-layout {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 7rem);
  display: grid;
  place-content: center;
}

.account-form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-headers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.otp-divider {
  display: grid;
  place-content: center;
}
.call-two-btn-action {
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: 1.25rem;
}
.verify-terms-card {
  display: grid;
  grid-template-columns: 3rem 1fr;
}
.verify-terms-card-sm {
  display: grid;
  grid-template-columns: 3rem 1fr;
  padding-top: 0.6rem;
}
.verify-terms-card > h2 {
  margin-top: 1rem;
}
.verify-terms-card-sm > h2 {
  margin-top: 0.6rem;
}

.cele-icon {
  width: 3rem;
  object-fit: contain;
  margin-left: 1rem;
}
.illustration-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.illustration-holder > img {
  width: 20rem;
  object-fit: contain;
}
@media screen and (max-width: 992px) {
  .connection-two-column-grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "form";
  }
  .banner-section {
    display: none;
  }
  .connection-mobile-header {
    display: flex;
  }
  .login-system-layout {
    width: 100%;
    height: unset;
    min-height: unset;
  }
  .account-section {
    width: 100%;
    padding: 3rem 0;
  }
}

@media screen and (max-width: 586px) {
  .connection-body-container {
    padding: 1.5rem 1.2rem 1.5rem 1.2rem;
  }
  .f-500-sm {
    font-weight: 400 !important;
  }
  .account-section {
    width: 100%;
    padding: 2.5rem 0;
  }

  .account-form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .form-headers {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }
}
