@import '../../assets/styles/global.scss';


.NewShipment {
  padding-right: 3rem;
    padding-left: 3rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }



  .form-group,
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: #707070;
      text-align: center;
      font-size: 13px;
    }
     .date{
       border:none;
       background: none;
     }
    .form-control {
      border: none;
      background: transparent;
      border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      color: $black;
      flex-basis: 55%;
      flex-grow: inherit;
      font-size: 12px;
    }

    @media (min-width: $xl) {
      label {
        font-size: 14px;
      } 

  
      .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color: $black;
        flex-basis: 65%;
        flex-grow: inherit;
        font-size: 13px;
       
        
      }

    }
  }
 
  .input-group {
    position: relative;
    margin-bottom: 1rem;

    

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  .low{
    padding-bottom:5px;
  }
  .headsup{
    font-size: 14px;
  }
  .total{
    color: $OBBlue;
    font:  25px/13px $roboto;
   
  }
  .value{
    color: $black;
    font:  25px/13px $roboto;
  }

  hr {
    border-width: 2px;
    border-color: #D3D3D3;
  }

  .btn-outline-info{
    border-radius: 10px;
  }

  .tooltip {
    position: relative;
 }
 .tooltip::before {
    background-color: white;
    border: 1px solid #888;
    border-radius: 2px;
    color: #444;
    content: attr(data-title);
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 5px;
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 1;
 }
 .tooltip:hover::before {
    display: block;
 }

  

  .table {
    .overflow {
      height: auto;
      max-height: 400px;
    }
  }
}


.shipmentpopup{

  .data{
    font: 16px/27px $roboto ;
     color: #707070;
}

.error{
  font: 22px/36px $roboto ;
  color: #707070;
}

  .alert{
    font:  25px/0.1px $roboto;
    color: #000000;
}


}