// Here you can add other styles
.titleHeading{
    color: #FFF;
}
.sidebar-brand-full{
    width:90%;
}
.card{
    background: none;
    border: none;
}
.sidebar{
    background:#003978;
}
.sidebar-nav .nav-link.active,
.sidebar-nav .nav-link.active .nav-icon{
    color:#FFA83B; 
}
.avatarTableDisplaywithName{
    display: flex;
    align-items: center;
    .title{
        margin-left:10px;
    }
    .avatar{
        width: 2rem;
        height: 2rem;
    }
}

.groupByTable{
    background: #f3f3f3;
    color:#000000;
    font-weight: 500;
}

.floatFilter{
	position: absolute;
    width: 45px;
    height: 45px;
    right: 1px;
    background-color: #003978;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    top: 111;
    z-index: 1001;
    &:hover{
        color:#FFF;
    }
}
.filterdrawer{
    padding:0px;
    .ant-drawer-header{
        display: none;
    }
    .ant-drawer-body{
        margin-top: 100px;
        padding:10px 15px;    
    }
    .ant-drawer-content-wrapper{
        width: 310px !important;
    }
}
.filterSection{
    .filterHeader{
        display: flex;
        align-items: center;
        justify-content: left;
        font-size:  18px;
        font-weight: 500;
        letter-spacing: 0px;
        color: #707070;
        .filterIcon{
        margin-right: 10px;
        width: 18px;
        height: 18px;
        }
    }

    .mainButtonFilter{
        background: #E5E0E9 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #54265E2E;
        border-radius: 30px;
        color: #707070;
        opacity: 1;
        margin-bottom: 50px;
        .active{
          background: #F49C00 0% 0% no-repeat padding-box;
          border-radius: 30px !important;
          color: $white;
          font-weight: 500;
          min-width: 80px;
          outline:none !important;
        }
        a{
          outline:none; 
          padding: 8px 20px;
        }
        a:focus{
          outline:none !important;
        }
      }

    .radioButton {
        display: flex;
        position: relative;
        margin-bottom: 5px;
        cursor: pointer;
        color: #707070;
        font-size: 14px;
        font-weight: 400;
        .radioInput {
            margin-right: 5px;
            /* remove standard background appearance */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            /* create custom radiobutton appearance */
            display: inline-block;
            width: 15px;
            height: 15px;
            padding: 6px;
            /* background-color only for content */
            background-clip: content-box;
            border: 1px solid #000000;
            background-color: #ffffff;
            border-radius: 50%;
        }
        .radioInput:checked {
            outline: none;
            background-color: #000000;
            padding: 2px;
        }
        
    }

    .filterSubHeading{
        font: normal normal bold 16px/27px Open Sans;
        letter-spacing: 0px;
        color: #707070;
        display: flex;
    }
    .SearchButton{
        background: #003978;
        box-shadow: 0px 4px 8px #0012b626;
        border-radius: 24px;
        color: $white;
        margin: 20px auto;
        display: flex;
        padding: 10px 35px;
        font-weight: bold;
        text-transform: uppercase;
    }
    .filterSelect{
        padding: 9px 17px;
        border: none;
        box-shadow: 0px 4px 8px #54265e26;
        border-radius: 10px;
        width:100%;
    }
    .filterButton{
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #F49C00;
        border-radius: 24px;
        margin-bottom: 20px;
        width: 100%;
        .active{
        background: #F49C00;
        border-radius: 24px !important;
        color: $white;
        font-weight: 500;
        outline:none !important;
        }
        a{
        font-size: 0.8vw;
        outline:none; 
        padding: 14px 11px;
        }
        a:focus{
        outline:none !important;
        }
    }
}

.my-float{
	margin-top:15px;
}