.mi-black {
  color: var(--black) !important;
}

.mi-white {
  color: var(--white) !important;
}

.mi-blue {
  color: var(--blue) !important;
}
.mi-light {
  color: var(--light) !important;
}

.mi-green {
  color: var(--brand-secondary) !important;
}

.mi-red {
  color: var(--error-red) !important;
}

.mi-grey-md {
  color: var(--grey-bold) !important;
}

.mi-grey-sm {
  color: var(--grey-medium) !important;
}

.mi-grey-xs {
  color: var(--grey-light) !important;
}

.bg-blue {
  background-color: var(--brand-blue) !important;
}

.bg-grey {
  background-color: var(--brand-grey) !important;
}
