.mi-input-group {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.mi-custom-textfield > .MuiInputBase-root > .MuiInputBase-input {
  text-align: center !important;
}

.input-two-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(12rem, 100%), 1fr));
  gap: 1.25rem;
}

.input-otp-column {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  padding: 1rem 0 2rem 0 !important;
}

.mi-radio-btn {
  margin-right: 2rem;
}
