.analytics-two-column-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(16rem, 100%), 1fr));
  gap: 1.5rem;
}

.Analytics-area {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
