.feature-two-column-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2.5rem;
}
.feature-left-container {
  background-color: var(--brand-primary);
  border-radius: 0.8rem;
  padding: 2rem;
  position: relative;
}

.feature-right-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.feature-heading-groups {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  z-index: 1000 !important;
}
.bar-space-image {
  position: absolute;
  inset: auto auto 0 0;
}

@media screen and (max-width: 992px) {
  .feature-two-column-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .bar-space-image {
    display: none;
    position: absolute;
    inset: auto auto 0 0;
  }
  .feature-left-container {
    /* background: var(--brand-primary); */
    background: linear-gradient(
        99.16deg,
        rgba(0, 98, 255, 0.5) 34.61%,
        rgba(40, 122, 255, 0.5) 73.1%
      ),
      url("../../../assests/files/images/features/bars.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.8rem;
    padding: 2rem;
    position: relative;
  }
}

@media screen and (max-width: 586px) {
  .feature-left-container {
    padding: 1.5rem;
  }
  .feature-two-column-grid-container {
    gap: 1.5rem;
  }
}
