@import "../../assets/styles/global.scss";

.Newinventory {
  padding-right: 3rem;
  padding-left: 3rem;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }

  .form-group,
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: #707070;
      text-align: left;
      font-size: 20px;
    }

    .form-control {
      border: none;
      background: transparent;
      border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      // color: #A8A8A8;
      color: $black;
      flex-basis: 65%;
      flex-grow: inherit;
    }
  }

  .input-group {
    position: relative;
    margin-bottom: 1rem;

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
  .total {
    color: $OBBlue;
    font: 25px/13px $roboto;
  }
  .value {
    color: $black;
    font: 25px/13px $roboto;
  }

  .table {
    .overflow {
      height: 100%;
      overflow: auto;
      min-height: 200px;
    }
  }
}


.inventorypopup{

  .data{
    font: Regular 20px/33px Roboto;
     color: #707070;


  }


  .alert{
    font: Bold 25px/33px Roboto;
    color: #000000;
}



}