.showcase-content-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.content-space {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title-max-space {
  width: 100%;
  max-width: 36rem;
}

.subtitle-max-space {
  width: 100%;
  max-width: 26rem;
}

@media screen and (max-width: 992px) {
  .showcase-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
  }
  .content-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 586px) {
  .showcase-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.6rem;
  }
  .content-space {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }
}
