@import "../../assets/styles/global.scss";

.purchaseform {
  padding-left: 5rem;
  padding-right: 3rem;

  .date-alignment {
    text-align: right;
    font-size: 14px;
  }

  .form-group,
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: #707070;
      text-align: left;
      font: 17px Helvetica Neue;
    }

    .form-control {
      border: none;
      background: transparent;
      border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      // color: #A8A8A8;
      color: $black;
      flex-basis: 67%;
      flex-grow: inherit;
    }

    .user {
      border: none;
      background: transparent;
      border-radius: 0;
      color: $deepBlue;
      flex-basis: 80%;
      flex-grow: inherit;
      font: 25px Helvetica Neue;
      font-weight: bold;
    }
  }
  .review {
    float: right;
  }

  .edit {
    float: right;
    border-color: #707070;
    color: #707070;
    border-radius: 10px;
    box-shadow: 0px 3px 6px #00000029;
  }

  .bold {
    font-weight: bold;
  }
  .input-group {
    position: relative;
    margin-bottom: 1rem;
    flex-basis: 45%;

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  hr {
    border-width: 2px;
  }
}

.productTable {
  .overflow {
    height: auto;
    max-height: 400px;
  }

  .square-box {
    width: 20px;
    height: 20px;
    background-color: $skyBlue;
    border-radius: 10px;
    margin-right: 1rem;
  }
  .rTable {
    .input-group,
    .form-group {
      margin-bottom: 0;

      .form-field {
        border: none;
      }
    }

    .rTableRow {
      padding: 0;

      .rTableCell {
        border-right: 1px solid #d6d6d6;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:last-child {
          border-right: none;
        }

        .form-control {
          border: none;
          background: transparent;
        }
        .form-group {
          flex-basis: 100%;

          .form-field {
            width: 100%;
          }
        }
      }
    }
    .rTableRow:hover {
      background: none;
      cursor: pointer;
    }
  }
}

.inventorypopup {
  .data {
    font: Regular 20px/33px Roboto;
    color: #707070;
  }

  .alert {
    font: Bold 25px/33px Roboto;
    color: #000000;
  }
}
