@import "../../assets/styles/global.scss";

.vieworder {
  position: relative;
  top: -22px;
  padding-right: 35px;
  padding-left: 65px;
  overflow: hidden;
  @media (max-width: $md) {
    padding-right: 10px;
    padding-left: 10px;
  }
  .breadcrumb {
    margin-left: 0px;
  }
  .trackBtn {
    padding: 0.7rem 3rem;
  }
  .shadow {
    border-radius: 1rem;
  }
  .btn-outline-primary:hover,
  .btn-outline-primary:active {
    background-color: transparent !important;
  }
  .col {
    text-align: left;
  }
}
.padding-added {
  padding: 1rem 2rem !important;
  padding-right: 0 !important;
}
