// @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$opensans: 'Open Sans', sans-serif;
$helvatica: 'Helvetica Neue', sans-serif;
$roboto:'Roboto';
$josefin: 'Josefin Sans', sans-serif;
$lato: 'Lato', sans-serif;