@import "../../assets/styles/global.scss";

.or {
  color: #0093e9;
  padding-left: 7rem;
  padding-top: 2rem;
}
.bottom {
  position: absolute;
  padding-top: 24rem;
  padding-left: 29rem;
}
.updateStatus {
  padding-right: 3rem;
  padding-left: 5rem;
  @media (max-width: $md) {
    padding-right: 0px;
    padding-left: 60px;
  }

  .browse {
    display: flex;
    align-items: center;
  }
  .upload {
    // height:200px;
    // width:350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed #707070;
    border-radius: 8px;
    box-shadow: 0px 3px 10px #00000029;

    .select {
      display: none;
    }
  }
  .form-group,
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      color: #707070;
      text-align: center;
      font-size: 14px;
      margin-bottom: 0px;
    }

    .form-control {
      border: none;
      background: transparent;
      // border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      // color:#000000;
      flex-basis: 55%;
      flex-grow: inherit;
      font-size: 14px;
      margin-bottom: -16px;
    }
    .form-controll {
      width: 100%;
    }

    @media (min-width: $xl) {
      label {
        font-size: 15px;
        flex-basis: 20% !important;
        flex-grow: inherit;
        text-align: left;
        margin-bottom: 0px;
      }

      .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color: $black;
        flex-basis: 100%;
        flex-grow: inherit;
        font-size: 15px;
      }
    }
  }
  input[type="radio"] {
    display: inline;
    margin-left: 20px;
  }
  .commonpanle {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    padding: 1rem 2rem;
    background: #ffffff 0% 0% no-repeat padding-box;
    margin: 0.5rem;
  }
  .panel {
    .elemens {
      margin-bottom: 0;
    }
    .potext {
      font: 13px/3px $roboto;
    }

    .poheads {
      color: black;
      font-weight: bold;
    }
  }

  .input-group {
    position: relative;
    margin-bottom: 1rem;

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
  .text-danger-USE {
    color: rgb(216, 9, 9);
    position: relative;
    right: 0rem;
    top: -5px;
    font-size: 15px;
  }
}
