.loader {
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  position: fixed;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-template {
  margin-top: 10%;
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
