@import "../../assets/styles/global.scss";

.filter {
  .filter-item {
    flex: 1;
    justify-content: center;
    display: flex;
    max-width: 100%;
    align-items: center;
    cursor: pointer;

    .filterTitle {
      font-size: 13px;
      color: #000;
      margin-left: 5px;
      margin-right: 5px;
    }

    .filterAction {
      cursor: pointer;
    }
  }

  .text {
    color: white;
  }

  .divider {
    height: 40px;
    border: 0.5px solid $d6Grey;
    display: flex;
    align-self: center;
  }

  .box {
    //background: $eeGrey;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.filter-dropdown {
  width: 180%;
  margin-left: 40px;
  margin-top: 18px;
}
.btn-filter-info {
  border: 0px solid black;
  border-radius: 10px;
  background-color: #36c2cf;
  color: white;
  padding: 10.5px 10.5px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}

.btn-filter-blue {
  border: 0px solid black;
  border-radius: 10px;
  background-color: #0093e9;
  color: white;
  padding: 10px 10px;
  font-size: 12px;
  cursor: pointer;
  outline: 0px;
}
