.permission-container {
  width: 100%;
  padding: 1.5rem;
  background-color: var(--white);
  border-radius: 0.6rem;
  box-shadow: var(--shadow);
}

.roles-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.permission-role-body {
  padding: 0.2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.role-header-space {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.role-header-text-space {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.indication-icon {
  margin-right: 1rem;
}

.permission-container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_uppercase {
  text-transform: capitalize !important;
}
