@import "../../assets/styles/global.scss";

.users {
  padding-left: 2rem;
  padding-right: 1rem;
}
.w-15 {
  width: 15%;
  text-align: center;
}
.Popover-tipShape {
  fill: rgb(164, 194, 194);
}
.dropdownLabel {
  font-size: larger;
}
.w-10 {
  align-self: center;
  text-align: center;
  width: 10%;
}
.w-20 {
  // align-self: center;
  // text-align: center;
  width: 20%;
}
.w-30 {
  align-self: center;
  text-align: center;
  width: 30%;
}
.width30 {
  width: 30%;
}
.txtColor {
  color: $lightGrey;
}
.txtWrapu {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
  padding: 0 10px;
  // align-self: center;
}
.btn-view {
  width: 80px;
  height: 35px !important;
  color: #ffffff;
  background: #0093e9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  opacity: 1;
}
