@import '../../assets/styles/global.scss';

.spacingbutton
{
    padding-right:0px;
    padding-left:90px;
}
.text-danger-ANL{
    color:rgb(212, 2, 2);
    font-size:12px;
}
.form-control2{
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
}

