@import "../../assets/styles/global.scss";

.rowDash {
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row;
  display: flex;
  .txt {
    color: #ffffff;
  }
  .dashboard {
    padding-right: 3rem;
    padding-left: 1rem;

    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }

    .dash {
      margin-bottom: 0.2rem;
    }
  }
}
.userPic {
  margin-right: 0.5rem;
  img {
    width: 30px;
    height: 30px;
  }
}
.r-10 {
  right: 10px;
}
.sub-header {
  margin-left: 1em;
  color: blue;
}
.dropdownLabel {
  font-size: x-large;
}
.d-grid {
  display: grid;
  justify-items: flex-end;
}
.txtColor {
  color: $lightGrey;
}
.orangeBtn {
  background-color: #ff8c00;
  color: #ffffff;
}
.txtWrapR {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}
.leaflet-container {
  border-top: 3px solid #d6d6d6;
  bottom: 0;
  top: 198px;
  position: fixed;
  left: 95px;
  z-index: 9;
  width: 100%;
}
