@import "../../assets/styles/global.scss";

.summaryTable {
  display: flex;
  .rowData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    & > div {
      margin-bottom: 15px;
      text-align: left;
      margin-right: 5px;
      font-size: 10px;
      color: #000000;
      @media (min-width: $xl) {
        font-size: 14px;
      }
    }

    .headline {
      font-weight: 400;
      color: #707070;
    }

    .combine-data {
      display: flex;
      align-items: center;
      word-break:break-word;
      a {
        color: #0093e9;
        font-size: 9px;
        @media (min-width: $xl) {
          font-size: 13px;

}        }
     .status[target=Shipped] {
                                color: white;
                                background-color: #3CB049;
                                border: none;
                                padding: 3px 10px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                margin: 4px 2px;
                                cursor: pointer;
                                border-radius: 10px;
                        }
                        .status[target="In Transit"] {
                                color: white;
                                background-color: #FFB100;
                                border: none;
                                padding: 3px 10px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                margin: 4px 2px;
                                cursor: pointer;
                                border-radius: 10px;
                        }
                        .status[target=Received] {
                                color: white;
                                background-color: #0093E9;
                                border: none;
                                padding: 3px 10px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                margin: 4px 2px;
                                cursor: pointer;
                                border-radius: 10px;
                        }


     

      .round-sign {
        border-radius: 4px;
        margin-right: 15px;
      }
    }

    @media screen and (min-width: 1300px) {
        flex: 1;
    }
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  


//   .rTable {
  //     display: flex;
  //     flex-direction: column;
  //     width: 100%;

  //     .rTableHeading {
  //       display: flex;
  //       justify-content: space-between;
  //     }

  //     .rTableBody {
  //       display: flex;
  //       justify-content: space-between;
  //     }

  //     .rTableRow {
  //       display: flex;
  //       justify-content: space-between;
  //       margin-bottom: 15px;
  //     }

  //     .rTableFoot {
  //       display: table-footer-group;
  //       font-weight: bold;
  //       background-color: #ddd;
  //     }

  //     .rTableHead {
  //       color: #707070;
  //       font-weight: 400;
  //     }

  //     .rTableCell,
  //     .rTableHead {
  //       flex: 1;
  //       padding: 3px 5px;
  //       align-self: center;
  //       font-size: 14px;
  //       text-align: center;
  //     }

  //     .rTableCell {
  //       color: $black;
  //       font-weight: 400;
  //       a {
  //         color: $black;
  //         font-weight: 400;
  //       }
  //     }

  //     .combine-record-td {
  //         flex-basis: 5%;
  //         font-size: 12px;
  //     }

  //     .combine-data {
  //       display: flex;
  //       align-items: center;
  //       a {
  //         color: #0093e9;
  //         word-wrap: none;
  //         word-break: normal;
  //       }

  //       .round-sign {
  //         border-radius: 4px;
  //         margin-right: 5px;
  //       }
  //     }
  //   }
}

.sm-only {
  display: none !important;
  @media screen and (max-width: 768px) {
    display: flex !important;
  }
}
