@import '../../assets/styles/global.scss';
.tracing {
    padding-right: 3rem;
    padding-left: 3rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }
    
.heading {
    text-align: left;
    font: normal bold 15px/7.5px Arial;
    letter-spacing: 1px;
    color: #01CEEA;
    }

    .highlight{
      border-style: solid;
      border-color: #01CEEA;
    }
    
.panel {
    box-shadow: 0px 3px 6px $grey;
    border-radius: 12px;
    background-color: $white;
    flex-basis: 30%;
    padding: 10px;

    .bold{
      color : #000000; 
    }
    ul {
      padding: 0;
      color : #A8A8A8;
      .txn{
         font: 13.5px/3px $roboto ;
         white-space: nowrap;
         overflow:hidden;
         text-overflow: ellipsis;
         display:inline-block;
         width : 160px;
        @media (max-width: $lg) {
          font-size: 13px;
          width : 120px;
        }
      }
      .vendor{
        font: 12px/3px $roboto ;
      
      }
    li { 
      font: 13.5px/3px $roboto ;
      text-align: left;
      letter-spacing: 0px;
      padding: 0.5rem;
      list-style: none;
    }
  }
  }
   .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
  }
  .big-dot {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
  }
   
  .arrow{
    width: 25px;
    height: 25px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background:white;
    }

    .picture {
      width: 35px;
      height: 35px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 13px;
      display: flex;
      background: #d4ebf2;
    }

  .chain{
    font: 13px/20px $roboto ;
  }

  .info{
    font: 10px/15px $roboto ;
  }

.dir{
 height:30px;
}
  .chainPad{
    padding: 1rem  2rem 1rem 2rem ;
  }

  .color{
    text-align: left;
    font: normal bold 12px/5px Arial;
    letter-spacing: 1px;
    color: #01CEEA;
  }

 
}
  

  
  