@import '../../assets/styles/global.scss';


.tracing {
  padding-right: 3rem;
    padding-left: 3rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }

  .filter {
    display: flex;
    flex-basis: 60%;
  }

  .search-form {
    width: 50%;
    position: relative;
    
    .search-icon {
      position: absolute;
      right: 6px;
      top: 8px;
      width: 35px;
    }

    .flex-basis-80 {
      flex-basis: 85%;
    }

    .search-field {
      height: 50px;
      background: $white;
      box-shadow: 0px 1px 3px $lightGrey;
      border-radius: 8px;
      padding: 0 0 0 15rem;
      font-size: 18px;
    }

    .floated {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      height: 50px;
      bottom: 0;
      width: 20%;
      display: flex;
      align-items: center;
      font-size: 18px;
      padding: 0;
      justify-content: space-around;
    }
  }
  
  .panel {
    box-shadow: 0px 3px 6px $grey;
    border-radius: 15px;
    background-color: $white;
    flex-basis: 30%;
    margin-right: 1rem;
    padding: 30px;

    hr {
      border-width: 10px;
    }

    &:last-child {
        margin-right: 0;
    }
    
  ul {
    padding: 0.1rem 0.1rem;
    display: flex;
    flex-direction: column;

    li {
      padding: 0.2rem 0.2rem;
      list-style: none;
    }
}
}
}
  

  
  