@import "../../assets/styles/global.scss";

.tabs {
  border-bottom: 3px solid #d6d6d6;
  margin-left: -5rem;
  padding-left: 5rem;

  ul {
    li {
      &.nav-item-active {
        font-weight: bolder;
        color: #0093e9;
        border-bottom: 7px solid #0093e9;
        //border-radius: 10px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        cursor: pointer;
      }
      #tab-content {
        &.nav-link {
          color: #0093e9;
          font-size: 18px;
          padding-bottom: 0.2rem;
          font-weight: bold;
          background-color: transparent;
          position: relative;
          cursor: pointer;
        }
        &.nav-in {
          color: rgb(101, 116, 126);
        }
      }
    }
  }
}
